{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}


<div class="card">
      <br>
      <h3 class="text-center"> <b>!! Add Your :<label style="color:black"> Complains
                        !!</label></b></h3>
      <div class="" style="padding:50px">
            <div class="" style=" padding : 30px;color:black;">

                  <form method="post" action="{% url 'complain_add' %}">
                        {% csrf_token %}
                        {{ complain|crispy }}
                  </form>

            </div>
      </div>
</div>





{% endblock %}