{% extends 'base.html' %}
{% block content %}


<br>
<br>

<div class="h1">
    <h3 style="color: teal"><b> View
            The Complaints : </b></h3>
</div>


<!-- Course Detail-->
{% for complain in complains %}
<div class="card" style="margin-left:30px; margin-right:30px; margin-bottom:20px ">
    <div class="" style="padding:10px">
        <p class="fw-semibold"><b> {{ complain.title }}</b> </p>
    </div>
    <div class="fw-light" style="padding:10px">
        <p class="fw-normal">By : {{ complain.users }}</p>
        <p class="fw-normal"> Severity- {{ complain.severity}} </p>
        <p class="fw-normal"> Municipality Targeted- {{ complain.municipality}} </p>


        <p class="fw-normal"> {{ complain.description|truncatechars:50|safe }} </p>
    
        <button onclick="location.href='{% url 'complain_view_each' complain.id %}'" type="button"
            class="btn btn-primary">View Detail</button>
    </div>


</div>
{% endfor %}


{% endblock content %}