{% extends 'base.html' %}
{% block content %}


<br>
<br>

<div class="h1">
    <h3 style="color: teal"><b> View
            The Complaints : </b></h3>
</div>


<!-- Course Detail-->
{% for complain in complains %}
<div class="card" style="margin-left:30px; margin-right:30px; margin-bottom:20px ">
    <div class="" style="padding:10px">
        <span class="fw-normal"><b> {{ complain.title }}</b> </span><br>
    </div>
    <div class="fw-light" style="padding:10px">
        <span class="fw-normal"><b> By : {{ complain.users }} </b> </span><br>
        <span class="fw-normal"><b> Severity- {{ complain.severity}}</b> </span><br>
        <span class="fw-normal"><b> Municipality Targeted- {{ complain.municipality}}</b> </span><br>


        <h3 style="font-size:small; line-height: 24px;" class="w3-serif">
            {{ complain.description|truncatechars:50|safe }}
        </h3>



        <button onclick="location.href='{% url 'complain_view_each' complain.id %}'" type="button"
            class="btn btn-primary">View Detail</button>
    </div>


</div>
{% endfor %}
<br>



<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}