{% extends 'base.html' %}
{% block content %}


<br>
<br>

<div class="w3-container ">
    <h3 style="color: teal" class=""><b> View
            The Ideas : </b></h3>
</div>


<!-- Course Detail-->
{% for idea in ideas %}
<div class="card" style="margin-left:30px; margin-right:30px; padding:10px">
    <div class="w3-threequarter w3-container w3-xlarge w3-serif">
        <p class="fw-normal"> {{ idea.title }}</p>
        <p class="fw-normal">By- {{ idea.users}} </p>
        <p class="fw-normal">Municipality Targeted- {{ idea.municipality}} </p>


        <h3 style="font-size:small; line-height: 24px;" class="fw-small">
            {{ idea.description|truncatechars:50|safe }}
        </h3>

        <button onclick="location.href='{% url 'idea_view_each' idea.id %}'" type="button" class="btn btn-primary"">View Detail</button>

    </div>
</div>
<br>
{% endfor %}

{% endblock content %}