{% extends 'base.html' %}
{% block content %}


<br>
<br>
<!-- For Title -->
<div class="w3-container w3-serif" style="margin-left:20%; margin-right:20%; margin-bottom:20px">
<div class="w3-card w3-serif w3-round-xlarge  w3-container w3-bar-item w3-text-black ">
    <span ><b>{{ ideas.title }}</b> </span><br>
    <small> Municipality - {{ideas.municipality}}</small> 

</div>

<!-- Description -->
<div class="w3-container w3-serif w3-panel w3-left-align w3-large w3-serif " style="line-height: 24px">
    <p style="line-height: 24px;">{{ ideas.description|safe }}
    </p>

</div>

<div class="w3-container likes w3-text-black">
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'idea_like' ideas.id %}">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ ideas.id }}" ,class="btn btn-primary btn-sm"> Like </button>
    </form> - {{ likes }}
    <br>
    <form method="post" action="{% url 'idea_dislike' ideas.id %}">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ ideas.id }}" ,class="btn btn-primary btn-sm"> Dislike
        </button>
    </form>- {{ dislikes }}

    {% else %}

    {{ likes }} likes
    <br>
    {{ dislikes }} dislikes

    {% endif %}

</div>


<div id="Tokyo" class="w3-container city" style="display:none">
    <h2>You Can Post Your Forum Here</h2>
    <p>YApple</p>
</div>

</div>
<br><br>
<br>
<br>
<br>
<br>




{% endblock %}