{% extends 'base1.html' %}

{% block content %}


{% for questioned in questions %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ questioned.title }}</h5>
                <p class="card-text">{{ questioned.description|truncatechars:50 }}</p>
                <a class="btn btn-primary" href="{% url 'question' questioned.id %}" role="button">Read More</a>
                <p class="card-text"><small class="text-muted">{{ questioned.date}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}