{% extends 'base.html' %}
{% block content %}

<div  class="w3-container" >
<div class="w3-container " style="margin-left:30%; margin-right:30%; padding:10px">
    <div>
        {{ question }}
    </div>
    <hr>
    {% for answer in answers %}
    <div>
        {{ answer.description }}
    </div>
    {% endfor %}

</div>

{% if request.user.is_authenticated %}

<p> Post your view </p>
<div class="form">
    <form method="post">
        {% csrf_token %}
        {{ answer_box.as_p }}
        <button type="submit">submit</button>
    </form>
</div>

{% else %}
<button> click here to login and post comment </button>
{% endif %}

</div>


{% endblock content %}