{% extends 'base.html' %}

{% block title %}
Home
{% endblock title%}

{% block content %}

<br><br>

<div class="card">
    {% for questioned in questions %}
    <div class="new"
        style="margin-right:20%;margin-bottom:20px ; margin-left:20%; padding:10px">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h3> <b>{{ questioned.title }}</b></h3>
                    <p class="fw-normal">{{ questioned.description|truncatechars:50 }}</p>
                    <a class=" btn-primary " style="padding:10px;"
                        href="{% url 'question' questioned.id %}" role="button">Read More</a>
                    <p class="w3-serif card-text"><small class="text-muted">{{ questioned.date}}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}