{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="contain" style="margin-right:20%; margin-left:20%; padding:20px;">

    <div>
        <div class="display-6">
            <b>{{ question.title }}</b>
            <br>
            <span><small>{{ question.users }}</small></span>
        </div>
        <hr>
        <div class="img-fluid">
            <img src="{{  question.image.url }}" alt="">
        </div>
        <br>
        <div class="w3-text-red">
            <p class = " fw-normal">
                {{ question.description}}
            </p>
        </div>
        <hr>
        <br>
        <h2>Discussion</h2>
        {% for answer in answers %}
        <div class="card justify-content-center">


            <div class="fw-semibold">
                {{ answer.users }} 
                <br>
            </div>
            <div class="fw-normal ">
                {{ answer.description }}
            </div>
            <div class="image">
                <img src="{{ answer.image }}" alt="">
            </div>
        </div>
        <br>
        {% endfor %}

    </div>
    <br>
    <br>

    {% if request.user.is_authenticated %}

    <p class="fw-semibold"><b> POST YOUR VIEW </b></p>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ answer_box|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">submit</button>
        </form>
    </div>

    {% else %}

    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Click to Comment</a>
   
    {% endif %}
</div>

{% endblock content %}