{% if messages %}

{% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="w3-panel w3-light-green w3-round-large w3-display-container" >
        {{message}}
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
      </div>

      {% elif message.tags == 'success' %}
      <div class="w3-panel w3-light-green w3-round-large w3-display-container" >
        {{message}}
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
      </div>

      {% elif message.tags == 'warning' %}
      <div class="w3-panel w3-light-green w3-round-large w3-display-container" >
        {{message}}
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
      </div>
      {% endif %}

{% endfor %}

{% endif %}