{% extends 'base.html' %}

{% block content %}

<div>

    {{ complains.title }}
    <br>
    {{ complains.description }}
    <br>
    {{ complains.municipality }}
    <br>
    {{ complains.severity }}
    <br>
    {{ complains.department }}
    <br>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'complain_like' complains.id %}">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ complains.id }}",class="btn btn-primary btn-sm"> Like </button>
    </form> - {{ likes }}
    <br>
    <form method="post" action="{% url 'complain_dislike' complains.id %}">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ complains.id }}",class="btn btn-primary btn-sm"> Dislike </button>
    </form>- {{ dislikes }}

    {% else %}

   {{ likes }} likes
    <br>
    {{ dislikes }} dislikes

    {% endif %}
    
</div>


{% endblock content %}